[Desktop Entry]
Name=Print Queue Applet
Exec=system-config-printer-applet
Terminal=false
Type=Application
Icon=printer
StartupNotify=false
X-GNOME-Autostart-Delay=30
X-Desktop-File-Install-Version=0.22
Categories=Other;
